h1 {
    text-align: center;
    font-size: 30px;

}

div#calc {
    background-color: rgba(220, 228, 231, 0.8);
    width: 200px;
    height: 550px;
    padding: 20px 35px 80px 20px;
    box-shadow: 5px 5px 10px black;
    border: solid royalblue 2px;
    display: inline-block;
    margin-left: 40%;

}

body {
    font: normal 18pt arial;
    background-image: url(numero3.jpg);

}

input {
    font: normal 18pt arial;
    width: 100px;
}

div#res {
    margin-top: 5px;
}

div#resdiv {
    margin-top: 5px;

}

div#ressub {
    margin-top: 5px;

}

div#resmult {
    margin-top: 5px;

}

input#botao {
    background: royalblue;
    color: white;
    border-radius: 10px;
    width: 26px;
    height: 30;
}